In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset/training_dataet.csv')

In [3]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,-0.992188,0.117188,-0.289062,0.992188,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,0.687500,0.515625,0.234375,0.070312,0.007812,-0.109375,-0.140625,-0.171875,-0.023438,-0.023438
1,-0.992188,-0.179688,-0.289062,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,-0.023438,-0.062500,-0.132812,-0.132812,-0.187500,-0.148438,-0.085938,-0.140625,-0.023438,-0.023438
2,-0.992188,-0.125000,-0.289062,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,-0.140625,-0.093750,-0.015625,0.015625,-0.007812,-0.109375,-0.093750,-0.164062,-0.023438,-0.023438
3,-0.992188,-0.406250,-0.289062,-0.468750,-0.007812,-0.046875,-0.007812,-0.007812,-0.03125,-0.054688,...,-0.382812,-0.382812,-0.375000,-0.351562,-0.312500,-0.195312,-0.304688,-0.171875,0.890625,0.992188
4,-0.992188,0.007812,-0.289062,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,0.156250,0.031250,-0.031250,-0.039062,-0.046875,-0.015625,0.656250,-0.148438,-0.023438,-0.023438

In [4]:
import seaborn as sns
from statistics import mean
import matplotlib.pyplot as plt
import warnings
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.utils import resample


from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import (
    classification_report, 
    confusion_matrix, 
    accuracy_score, 
    roc_auc_score, 
    roc_curve, 
    auc, 
    precision_score, 
    recall_score
)

In [5]:
df['class'].value_counts()

class
-0.992188    59000
 0.992188     1000
Name: count, dtype: int64

In [6]:
categorical_features=[feature for feature in df.columns if df[feature].dtype=='O']
numeric_feature=[feature for feature in df.columns if [df[feature].dtype!='O']]

In [7]:
categorical_features

[]

In [8]:
print('number of numerical features are {}:{}'.format(len(numeric_feature),numeric_feature))

number of numerical features are 171:['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000', 'ag_001', 'ag_002', 'ag_003', 'ag_004', 'ag_005', 'ag_006', 'ag_007', 'ag_008', 'ag_009', 'ah_000', 'ai_000', 'aj_000', 'ak_000', 'al_000', 'am_0', 'an_000', 'ao_000', 'ap_000', 'aq_000', 'ar_000', 'as_000', 'at_000', 'au_000', 'av_000', 'ax_000', 'ay_000', 'ay_001', 'ay_002', 'ay_003', 'ay_004', 'ay_005', 'ay_006', 'ay_007', 'ay_008', 'ay_009', 'az_000', 'az_001', 'az_002', 'az_003', 'az_004', 'az_005', 'az_006', 'az_007', 'az_008', 'az_009', 'ba_000', 'ba_001', 'ba_002', 'ba_003', 'ba_004', 'ba_005', 'ba_006', 'ba_007', 'ba_008', 'ba_009', 'bb_000', 'bc_000', 'bd_000', 'be_000', 'bf_000', 'bg_000', 'bh_000', 'bi_000', 'bj_000', 'bk_000', 'bl_000', 'bm_000', 'bn_000', 'bo_000', 'bp_000', 'bq_000', 'br_000', 'bs_000', 'bt_000', 'bu_000', 'bv_000', 'bx_000', 'by_000', 'bz_000', 'ca_000', 'cb_000', 'cc_000', 'cd_000', 'ce_000', 'cf_000', 'cg_000', 'ch_000', 'ci_000', 'cj_000', 'ck_000', 'cl_000', 'cm_000', 'cn_000', 'cn_001', 'cn_002', 'cn_003', 'cn_004', 'cn_005', 'cn_006', 'cn_007', 'cn_008', 'cn_009', 'co_000', 'cp_000', 'cq_000', 'cr_000', 'cs_000', 'cs_001', 'cs_002', 'cs_003', 'cs_004', 'cs_005', 'cs_006', 'cs_007', 'cs_008', 'cs_009', 'ct_000', 'cu_000', 'cv_000', 'cx_000', 'cy_000', 'cz_000', 'da_000', 'db_000', 'dc_000', 'dd_000', 'de_000', 'df_000', 'dg_000', 'dh_000', 'di_000', 'dj_000', 'dk_000', 'dl_000', 'dm_000', 'dn_000', 'do_000', 'dp_000', 'dq_000', 'dr_000', 'ds_000', 'dt_000', 'du_000', 'dv_000', 'dx_000', 'dy_000', 'dz_000', 'ea_000', 'eb_000', 'ec_00', 'ed_000', 'ee_000', 'ee_001', 'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008', 'ee_009', 'ef_000', 'eg_000']

In [9]:
df.head(100)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,-0.992188,0.117188,-0.289062,0.992188,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,0.687500,0.515625,0.234375,0.070312,0.007812,-0.109375,-0.140625,-0.171875,-0.023438,-0.023438
1,-0.992188,-0.179688,-0.289062,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,-0.023438,-0.062500,-0.132812,-0.132812,-0.187500,-0.148438,-0.085938,-0.140625,-0.023438,-0.023438
2,-0.992188,-0.125000,-0.289062,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,-0.140625,-0.093750,-0.015625,0.015625,-0.007812,-0.109375,-0.093750,-0.164062,-0.023438,-0.023438
3,-0.992188,-0.406250,-0.289062,-0.468750,-0.007812,-0.046875,-0.007812,-0.007812,-0.03125,-0.054688,...,-0.382812,-0.382812,-0.375000,-0.351562,-0.312500,-0.195312,-0.304688,-0.171875,0.890625,0.992188
4,-0.992188,0.007812,-0.289062,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,0.156250,0.031250,-0.031250,-0.039062,-0.046875,-0.015625,0.656250,-0.148438,-0.023438,-0.023438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-0.992188,-0.117188,-0.289062,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,-0.210938,-0.203125,-0.195312,-0.171875,-0.085938,-0.062500,0.960938,-0.062500,-0.023438,-0.023438
96,-0.992188,-0.320312,-0.289062,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,-0.359375,-0.351562,-0.335938,-0.320312,0.023438,-0.171875,-0.304688,-0.171875,-0.023438,-0.023438
97,-0.992188,-0.125000,0.218750,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,0.023438,0.101562,0.070312,-0.054688,-0.179688,-0.164062,-0.078125,0.062500,-0.023438,-0.023438
98,-0.992188,-0.179688,0.359375,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,-0.156250,-0.117188,-0.093750,-0.007812,-0.140625,-0.156250,-0.132812,-0.125000,-0.023438,-0.023438
99,-0.992188,-0.148438,-0.289062,-0.468750,-0.007812,-0.046875,-0.054688,-0.007812,-0.03125,-0.054688,...,-0.171875,-0.171875,-0.179688,-0.164062,-0.109375,-0.085938,0.546875,0.359375,-0.023438,-0.023438

In [10]:
df.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
         ..
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
Length: 171, dtype: int64

Since we make the Bar plot for the Categorical features and Histogram for the Continous variables and as in our dataset we have continous varibles only so we will be plotting the histogram so see the distribution fo data

In [11]:
for i in df.columns:
  print('The range for the feature {} is {}-{}'.format(i,max(df[i]),min(df[i])))

The range for the feature class is 0.9921875--0.9921875
The range for the feature aa_000 is 0.9921875--0.40625
The range for the feature ab_000 is 0.9921875--0.2890625
The range for the feature ac_000 is 0.9921875--0.46875
The range for the feature ad_000 is 0.9921875--0.0078125
The range for the feature ae_000 is 0.9921875--0.046875
The range for the feature af_000 is 0.9921875--0.0546875
The range for the feature ag_000 is 0.9921875--0.0078125
The range for the feature ag_001 is 0.9921875--0.03125
The range for the feature ag_002 is 0.9921875--0.0546875
The range for the feature ag_003 is 0.9921875--0.1171875
The range for the feature ag_004 is 0.9921875--0.1875
The range for the feature ag_005 is 0.9921875--0.3359375
The range for the feature ag_006 is 0.9921875--0.421875
The range for the feature ag_007 is 0.9921875--0.3515625
The range for the feature ag_008 is 0.9921875--0.1640625
The range for the feature ag_009 is 0.9921875--0.03125
The range for the feature ah_000 is 0.9921875--0.4296875
The range for the feature ai_000 is 0.9921875--0.0546875
The range for the feature aj_000 is 0.9921875--0.0234375
The range for the feature ak_000 is 0.9921875--0.0234375
The range for the feature al_000 is 0.9921875--0.109375
The range for the feature am_0 is 0.9921875--0.109375
The range for the feature an_000 is 0.9921875--0.4375
The range for the feature ao_000 is 0.9921875--0.4375
The range for the feature ap_000 is 0.9921875--0.3203125
The range for the feature aq_000 is 0.9921875--0.3515625
The range for the feature ar_000 is 0.9921875--0.1015625
The range for the feature as_000 is 0.9921875--0.0078125
The range for the feature at_000 is 0.9921875--0.0390625
The range for the feature au_000 is 0.9921875--0.015625
The range for the feature av_000 is 0.9921875--0.171875
The range for the feature ax_000 is 0.9921875--0.2578125
The range for the feature ay_000 is 0.9921875--0.03125
The range for the feature ay_001 is 0.9921875--0.015625
The range for the feature ay_002 is 0.9921875--0.0234375
The range for the feature ay_003 is 0.9921875--0.03125
The range for the feature ay_004 is 0.9921875--0.03125
The range for the feature ay_005 is 0.9921875--0.078125
The range for the feature ay_006 is 0.9921875--0.328125
The range for the feature ay_007 is 0.9921875--0.3046875
The range for the feature ay_008 is 0.9921875--0.265625
The range for the feature ay_009 is 0.9921875--0.015625
The range for the feature az_000 is 0.9921875--0.109375
The range for the feature az_001 is 0.9921875--0.1328125
The range for the feature az_002 is 0.9921875--0.078125
The range for the feature az_003 is 0.9921875--0.1328125
The range for the feature az_004 is 0.9921875--0.3515625
The range for the feature az_005 is 0.9921875--0.328125
The range for the feature az_006 is 0.9921875--0.109375
The range for the feature az_007 is 0.9921875--0.0625
The range for the feature az_008 is 0.9921875--0.046875
The range for the feature az_009 is 0.9921875--0.015625
The range for the feature ba_000 is 0.9921875--0.3671875
The range for the feature ba_001 is 0.9921875--0.375
The range for the feature ba_002 is 0.9921875--0.34375
The range for the feature ba_003 is 0.9921875--0.3671875
The range for the feature ba_004 is 0.9921875--0.375
The range for the feature ba_005 is 0.9921875--0.3671875
The range for the feature ba_006 is 0.9921875--0.328125
The range for the feature ba_007 is 0.9921875--0.3515625
The range for the feature ba_008 is 0.9921875--0.1484375
The range for the feature ba_009 is 0.9921875--0.109375
The range for the feature bb_000 is 0.9921875--0.4140625
The range for the feature bc_000 is 0.9921875--0.15625
The range for the feature bd_000 is 0.9921875--0.1953125
The range for the feature be_000 is 0.9921875--0.15625
The range for the feature bf_000 is 0.9921875--0.1328125
The range for the feature bg_000 is 0.9921875--0.4296875
The range for the feature bh_000 is 0.9921875--0.375
The range for the feature bi_000 is 0.9921875--0.328125
The range for the feature bj_000 is 0.9921875--0.28125
The range for the feature bk_000 is 0.9921875--0.9609375
The range for the feature bl_000 is 0.9921875--0.9609375
The range for the feature bm_000 is 0.9921875--0.8828125
The range for the feature bn_000 is 0.9921875--0.8359375
The range for the feature bo_000 is 0.9921875--0.8203125
The range for the feature bp_000 is 0.9921875--0.8125
The range for the feature bq_000 is 0.9921875--0.796875
The range for the feature br_000 is 0.9921875--0.796875
The range for the feature bs_000 is 0.9921875--0.9453125
The range for the feature bt_000 is 0.9921875--0.40625
The range for the feature bu_000 is 0.9921875--0.4140625
The range for the feature bv_000 is 0.9921875--0.4140625
The range for the feature bx_000 is 0.9921875--0.3984375
The range for the feature by_000 is 0.9921875--0.40625
The range for the feature bz_000 is 0.9921875--0.171875
The range for the feature ca_000 is 0.9921875--0.9921875
The range for the feature cb_000 is 0.9921875--0.9921875
The range for the feature cc_000 is 0.9921875--0.3984375
The range for the feature cd_000 is 0.9921875--0.9921875
The range for the feature ce_000 is 0.9921875--0.4453125
The range for the feature cf_000 is 0.9921875--0.0078125
The range for the feature cg_000 is 0.9921875--0.25
The range for the feature ch_000 is 0.9921875--0.015625
The range for the feature ci_000 is 0.9921875--0.4140625
The range for the feature cj_000 is 0.9921875--0.09375
The range for the feature ck_000 is 0.9921875--0.328125
The range for the feature cl_000 is 0.9921875--0.109375
The range for the feature cm_000 is 0.9921875--0.21875
The range for the feature cn_000 is 0.9921875--0.0390625
The range for the feature cn_001 is 0.9921875--0.0859375
The range for the feature cn_002 is 0.9921875--0.1484375
The range for the feature cn_003 is 0.9921875--0.2421875
The range for the feature cn_004 is 0.9921875--0.3828125
The range for the feature cn_005 is 0.9921875--0.421875
The range for the feature cn_006 is 0.9921875--0.3125
The range for the feature cn_007 is 0.9921875--0.15625
The range for the feature cn_008 is 0.9921875--0.1015625
The range for the feature cn_009 is 0.9921875--0.03125
The range for the feature co_000 is 0.9921875--0.0078125
The range for the feature cp_000 is 0.9921875--0.078125
The range for the feature cq_000 is 0.9921875--0.4140625
The range for the feature cr_000 is 0.9921875--0.0859375
The range for the feature cs_000 is 0.9921875--0.53125
The range for the feature cs_001 is 0.9921875--0.2734375
The range for the feature cs_002 is 0.9921875--0.1953125
The range for the feature cs_003 is 0.9921875--0.3203125
The range for the feature cs_004 is 0.9921875--0.2109375
The range for the feature cs_005 is 0.9921875--0.3984375
The range for the feature cs_006 is 0.9921875--0.4609375
The range for the feature cs_007 is 0.9921875--0.1875
The range for the feature cs_008 is 0.9921875--0.0234375
The range for the feature cs_009 is 0.9921875--0.0078125
The range for the feature ct_000 is 0.9921875--0.15625
The range for the feature cu_000 is 0.9921875--0.1796875
The range for the feature cv_000 is 0.9921875--0.5234375
The range for the feature cx_000 is 0.9921875--0.2421875
The range for the feature cy_000 is 0.9921875--0.046875
The range for the feature cz_000 is 0.9921875--0.09375
The range for the feature da_000 is 0.9921875--0.0390625
The range for the feature db_000 is 0.9921875--0.2265625
The range for the feature dc_000 is 0.9921875--0.5234375
The range for the feature dd_000 is 0.9921875--0.328125
The range for the feature de_000 is 0.9921875--0.234375
The range for the feature df_000 is 0.9921875--0.0234375
The range for the feature dg_000 is 0.9921875--0.03125
The range for the feature dh_000 is 0.9921875--0.0078125
The range for the feature di_000 is 0.9921875--0.1015625
The range for the feature dj_000 is 0.9921875--0.0078125
The range for the feature dk_000 is 0.9921875--0.03125
The range for the feature dl_000 is 0.9921875--0.0234375
The range for the feature dm_000 is 0.9921875--0.03125
The range for the feature dn_000 is 0.9921875--0.34375
The range for the feature do_000 is 0.9921875--0.4453125
The range for the feature dp_000 is 0.9921875--0.4765625
The range for the feature dq_000 is 0.9921875--0.0546875
The range for the feature dr_000 is 0.9921875--0.1640625
The range for the feature ds_000 is 0.9921875--0.4140625
The range for the feature dt_000 is 0.9921875--0.4375
The range for the feature du_000 is 0.9921875--0.3515625
The range for the feature dv_000 is 0.9921875--0.2890625
The range for the feature dx_000 is 0.9921875--0.203125
The range for the feature dy_000 is 0.9921875--0.140625
The range for the feature dz_000 is 0.9921875--0.0234375
The range for the feature ea_000 is 0.9921875--0.03125
The range for the feature eb_000 is 0.9921875--0.2421875
The range for the feature ec_00 is 0.9921875--0.40625
The range for the feature ed_000 is 0.9921875--0.4296875
The range for the feature ee_000 is 0.9921875--0.3046875
The range for the feature ee_001 is 0.9921875--0.3046875
The range for the feature ee_002 is 0.9921875--0.3828125
The range for the feature ee_003 is 0.9921875--0.3828125
The range for the feature ee_004 is 0.9921875--0.3828125
The range for the feature ee_005 is 0.9921875--0.3515625
The range for the feature ee_006 is 0.9921875--0.3125
The range for the feature ee_007 is 0.9921875--0.1953125
The range for the feature ee_008 is 0.9921875--0.3046875
The range for the feature ee_009 is 0.9921875--0.171875
The range for the feature ef_000 is 0.9921875--0.0234375
The range for the feature eg_000 is 0.9921875--0.0234375

In [12]:
df['class'].unique()

array([-0.9921875,  0.9921875])

Converting  the Numeric feature Class to Categorical

In [14]:
df['class'] = [1 if i == 0.9921875 else 0 for i in df['class']]

In [15]:
df['class']

0        0
1        0
2        0
3        0
4        0
        ..
59995    0
59996    0
59997    0
59998    0
59999    0
Name: class, Length: 60000, dtype: int64